@font-face{

font-family: 'MyWebFont';
src: url('./fonts/kufam.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
body{font-family: 'MyWebFont'; 
	font-size: 1.3em; 
	background-color:#eee;
	line-height: 1.5;
}
h2{color: #036403;}
table, th, td {
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: 10px;
}
caption {
	background-color: lightgreen;
	padding: 10px;
	font-size: 150%;
	font-style: bold;
}
th {width: 60px; background-color: lightgrey;}
table td + td + td + td + td + td + td{background-color: pink;}

.button {
	-moz-border-radius: 10px;
	-moz-box-shadow: #6E7849 0px 0px 10px;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-border-radius: 15px;
	-webkit-box-shadow: #6E7849 0 0 10px;
	-webkit-transition: all 0.5s ease;
	background-color: #eee;
	background-image: -moz-radial-gradient(center 90deg, circle contain, #B9C788, #6E7849);
	background-image: -ms-radial-gradient(center 90deg, circle contain, #B9C788, #6E7849);
	background-image: -webkit-radial-gradient(center 90deg, circle contain, #B9C788, #6E7849);
	background-image: radial-gradient(center 90deg, circle contain, #B9C788, #6E7849);
	border-radius: 10px;
	border: 01px solid #4a5032;
	box-shadow: #6E7849 0px 0px 10px;
	color: #000;
	display: inline-block;
	font-size: 1em;
	margin: auto;
	padding: 15px;
	text-decoration: none;
	text-shadow: #000000 5px 5px 10px;
	transition: all 0.5s ease;
  }
  .button:hover {
	padding: 15px;
  }